@import 'shared';

.container {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
}

img {
  max-width: 100%;
}

a[data-type='indexterm'] {
  display: none;
}

.codesplit {
  background: #F0F0F0;

  .pair {
    .comment {
      background-color: #DDD;
      padding: 0.5em;
      margin-bottom: 1em;
      float: right;
      width: 40%;
      p {
        margin: 0;
      }
    }
    &:last-child .comment {
      margin-bottom: 0;
    }
    .code pre {
      margin: 0;
    }
    &:not(.no-comment) {
      .code pre code {
        background-color: #DDD;
      }

      &::before {
        clear: both;
        content: "";
        display: block;
      }
    }
  }
  .pairs {
    &::after {
      clear: both;
      content: "";
      display: block;
    }
  }
}
