<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ config.title }}</title>
    {{ javascripts }}
    {{ stylesheets }}
  </head>
  <body data-type="book">
    <div class="container">
      {{ content }}
      {% include navigation.html %}
    </div>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
      hljs.configure({languages: ["javascript"]});
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
